
<nav class="navbar navbar-light bg-black position-sticky">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"> <a class='navbar-brand' href="index.html">
        <img src="assets/Logo2.jpg" class="rounded-pill" width="30%" height="10%">
       </a> </a>
      <button  class="navbar-toggler bg-light" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Raise The Bar</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Dashboard</a>
            </li><hr>
            <li class="nav-item">
              <h4>Workouts</h4>
            </li><br>
            <li class="nav-item">
                <a class="nav-link" href="#">Face </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Chest</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Back</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Shoulder</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Biceps</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Triceps</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Traps</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Chest</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Abdominal</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Legs</a>
            </li>
            <hr>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">About us</a>
            </li><hr>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Contact Us</a>
              </li><hr>
          </ul>
            </div>
        </div>
    </div>
</nav>
          <!--<form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </div>
  </nav>
  <body>
    <body class="sb-nav-fixed">

        <nav class='sb-topnav navbar navbar-expand navbar-dark bg-dark'>
        
        <a class='navbar-brand' href="index.html">
         <img src="assets/logo.png" width="30%" height="100%" style="padding-top: 10px">
        </a> 
         <button class='btn btn-link btn-sm order-1 order-lg-0' id='sidebarToggle' href='#'>
         <i class="fasfa-bars"></i>
         </button>
        
         Navbar Search --
        
        <form class='d-none md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0'>
        
        <div class='input-group'>
        
        <input class='form-control' type="text" placeholder='search for ... 'aria-label="Search" aria-describedby="basic-addon2"/>
        
        <div class=input-group-append>
        
        <button class="btn btn-primary">
            
        <i class="fas fa-search"></i>

        </button>
        </div>
        </div>
        </form>
        
        Navbar--
        
        <ul class="navbar-nav ml-auto ml-md-0">
        
        <li class="nav-item dropdown">
        
        <a class='nav-link dropdown-toggle' id='userDropdwn' href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         
     </a>
        
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown"> 

            <a class="dropdown-item" href="#">Settings</a>
            <a class="dropdown-item" href="#">Activity log</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" routerLink="/login" routerLinkActive="active">Logout</a>

        </div>
        </li>
        </ul>
        </nav>
        <div id='layoutSidenav'>
        <div id='layoutSidenav_nav'></div>
        <nav class='sb-sidenav accordian sb-sidenav-dark' id='sidenavAccordian'>
            <div class=sb-sidenav-menu>
                <div class='nav'>
                    <div class="sb-sidenav-menu-heading">Core </div>
                    <a class="nav-link" href="index.html">
                        <div class="sb-nav-link-icon">
                            <i class="fas fa-tachometer-alt"></i>Dashboard
                        </div>
                    </a>
                    <div class='sb-sidenav-menu-heading'>Interface</div>
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="collapseLayouts" aria-expanded="false"
                    aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon">
                        <i class="fas fa-angle-down"></i>
                    </div>

                   Home </a>
                </div>
            </div>
        </nav>

        </div>

        <div class='row'>
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class='card-header'>
                        <i class='fas fa-chart-area mr-1'></i>
                        Weekly Analysis
                     </div>
                     <div class='card-body'>
                     </div>
                </div>
             </div>
             <div class='col-xl-6'>
                 <div class="card mb-4">
                     <div class='card-header'>
                        <i class='fas fa-chart-area mr-1'></i>
                        Monthly Report
                     </div>
                     <div class='card-body'>
                    
                     </div>

                     </div>
                 </div>
             </div>
             <div class="card mb-4">
                 <div class='card-header'>
                     <i class='fas fa-table mr-1'></i>
                     Employee Data
                 </div>
                 <div class="card-body">
                 </div>
             </div>
         
            -->
    





